.git
.github
.idea
.nova
.phpunit.cache
.vscode
.zed
.codex
.cursor

.env
.env.*
!.env.example

node_modules
vendor
public/build
public/hot
public/storage

database/*.sqlite*
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

*.log
Thumbs.db
.DS_Store
